/* set background color to black */
body {
    background-color: black;
    align-items: center;
    font-family: "Verdana", sans-serif;
    color: white;
    text-align: center;
}

/* change hyperlink underline to match font color */
a {
    text-decoration: none;
    border-bottom:1px aquamarine;
}

.footer {
    text-align: right;
    font-size: 21px;
    color: gray";
}